<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SSShop | {% endblock %}</title>
        <link rel="icon" href="{{ asset('images/SSShopLogo.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {# <div class="close-burger">
                <div class="close-burger__item"></div>
                <div class="close-burger__item"></div>
            </div> #}


            <div class="desktop-nav">
                <nav class=" container">
                    <ul class="nav-left"><a href="{{ path("app_home") }}"><img src="{{ asset("/images/SSShopLogo.png") }}" alt="Logo" class="logo"></a></ul>
                    <ul class="nav-right">
                        <li><a href="{{ path("app_home") }}">Accueil</a></li>
                        <li><a href="{{ path("app_service") }}">Services</a></li>
                        <li><a href="{{ path("app_about") }}">À propos</a></li>
                        <li><a href="{{ path("app_contact") }}" class="btn btn-primary">Nous contacter</a></li>
                    </ul>
                </nav>
            </div>


            <div class="mobile-nav">
                <nav class=" container">
                    <ul class="nav-left">
                        <li>
                            <div class="burger-menu">
                                <div class="burger-menu__item"></div>
                                <div class="burger-menu__item mid-bar"></div>
                                <div class="burger-menu__item"></div>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li><a href="{{ path("app_home") }}"><img src={{ asset("/images/SSShopLogo.png") }} alt="Logo" class="logo"></a></li>
                    </ul>
                </nav>
            </div>

            <div class="mobile-menu">
                <div class="close-menu">
                    <div class="close-menu__item close-1"></div>
                    <div class="close-menu__item close-2"></div>
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ path("app_home") }}">Accueil</a></li>
                        <li><a href="{{ path("app_service") }}">Services</a></li>
                        <li><a href="{{ path("app_about") }}">À propos</a></li>
                        <li><a href="{{ path("app_contact") }}" class="btn btn-primary">Nous contacter</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
        {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="container footer-content">
                <div div class="main-div">
                    <a href=""><img src="{{ asset("/images/SSShopLogo.png") }}" alt="Logo" class="logo"></a>
                    <p>
                        Chez Suki Suki Shop, notre objectif principal est de vous offrir une qualité de produit inégalable
                        ainsi que des moments inoubliables lors de nos expositions. Après avoir débuté en France
                        et nous être implantés dans 8 autres pays, nous souhaitons continuer à grandir afin
                        de pouvoir répondre aux besoins de tous nos clients.
                    </p>
                </div>

                <div class="div">
                    <h5>Liens importants</h5>
                    <a href="{{ path("app_home") }}">Accueil</a>
                    <a href="{{ path("app_service") }}">Services</a>
                    <a href="{{ path("app_about") }}">À propos</a>
                    <a href="{{ path("app_contact") }}">Nous contacter</a>
                </div>

                <div class="div">
                    <h5>Services</h5>
                    <p>Création sur-mesure</p>
                    <p>Vente</p>
                    <p>Expositions</p>
                </div>

                <div class="social-div">
                    <h5>Nous contacter</h5>
                    <div class="social-div__item">
                        <img src="{{ asset('images/location-svgrepo-com 1.png') }}" alt="Localisation" class="icon">
                        <p>70 rue des Jacobins, Amiens 80800</p>
                    </div>
                    <div class="social-div__item">
                        <img src="{{ asset('images/phone-svgrepo-com 1.png') }}" alt="Téléphone" class="icon">
                        <p>03 22 77 77 77</p>
                    </div>
                    <div class="social-div__item">
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
